

/*Footer*/


#footer{
    background-color: #FF6E6C;
    margin-top: 2em;
    list-style-type: none;
    text-decoration: none;
    padding-top: 1em;
    margin: 2em 0em 0em 0em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48em;
    justify-content: center;
    position:relative;

}

li{
    text-decoration: none;
    list-style-type:none;
}

#redes img{
    margin: 0.6em;
}



/* Footer responsive */

@media (max-width: 768px){
    #footer{
        margin: 0em 0em 0em 0em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        justify-content: center;
    }

    #redes{
        margin-left: 2em;
        margin-bottom: 1em;
    }
}