/* Seccion destinos*/

.container{
    .btn{
        color: #ffeeee;
        }

    .card{
        background-color: #fcafaf;
        border-radius: 15px;

        & img{
            border-radius: 15px;
            border-color: #fcafaf;
            }

        &-title{
            color: #001858;
            font-weight: bold;
            }
    }

    .row{
        margin-top: 3em;
        }
}