/* Seccion destinos*/

.container{
    .btn{
        color: #ffeeee;
    }

    .card{
        background-color: #fcafaf;
        border-radius: 15px;

        .card img{
            border-radius: 15px;
            border-color: #fcafaf;
            padding: 0.4em;
        }

        .card-title{
            color: #001858;
            font-weight: bold;
    
        }
    }

    .row{
        margin-top: 3em;
        padding-right: 0em;
        margin-right: 0em;
        margin-right: 0em;
    }

}