/* seccionsomos*/

#portada-somos{
    background-image: url("../public/img/portada-somos.jpg");
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#bajada-somos{
    font-size: 50px;
    color: #FEF6E4;
    padding: 3em 0em 0em 16em;

}

#video{
    margin-left:100em;
    margin-top: 10em;
    margin-right: 100px;
    border: 10em;
    width: 350em;
    height: 350em;

}