/* seccioncontacto*/

#portada-contacto{
    background-image: url("../public/img/portada-contacto");
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

        .titulo_bajada_contacto{
            font-size: 50px;
            margin-top: 2em;
            margin-left: 20em;
            margin-top: 0.5em;
            color: #FEF6E4;
        }
        
        .bajada-contacto{
            font-size: 30px;
            margin-top: 3em;
            margin-left: 20em;
            color: #FEF6E4;
        }
        
        .gradientefondo{
            background-image: linear-gradient(to bottom, #FEF6E4 , #f89e9d );
        }
        
        .form{
            margin-top: 15em;
}
}

